<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creative Writing</title>
</head>
<body>
    <a href="{% url 'post_article' %}">Add New</a><br>
    <a href="{% url 'logout' %}">logout</a>

    
    <!---The looping mechanism for the articles-->
    {%for i in articles%}
    <h2>{{i.title}}</h2><br>
    <h5>{{i.content}}</h5><br>
    {% endfor %}
    
</body>
</html>